In [1]:
from sklearn import datasets, neighbors, metrics
from sklearn.model_selection import train_test_split
from pandas import DataFrame

In [2]:
dataset = datasets.load_iris()

In [3]:
dataset_head = dataset.data[:10,]

In [4]:
dataset_head

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1]])

In [5]:
DataFrame(dataset_head, columns=dataset.feature_names)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2
5                5.4               3.9                1.7               0.4
6                4.6               3.4                1.4               0.3
7                5.0               3.4                1.5               0.2
8                4.4               2.9                1.4               0.2
9                4.9               3.1                1.5               0.1

In [6]:
X_train, X_test, y_train, y_test = train_test_split(dataset.data, dataset.target, test_size=0.5, random_state=1)

In [7]:
knn = neighbors.KNeighborsClassifier(n_neighbors=3)

In [8]:
fit = knn.fit(X_train, y_train)

In [9]:
expected = y_test

In [10]:
predicted = fit.predict(X_test)

In [11]:
conf = metrics.confusion_matrix(expected, predicted)

In [12]:
DataFrame(conf, index=dataset.target_names, columns=dataset.target_names)

            setosa  versicolor  virginica
setosa          24           0          0
versicolor       0          24          0
virginica        0           6         21

In [13]:
metrics.accuracy_score(expected, predicted)

0.92