In [1]:
from sklearn import datasets, metrics
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from pandas import DataFrame

In [2]:
df = datasets.load_iris()

In [3]:
df_head = df.data[:10,]

In [4]:
DataFrame(df_head, columns=df.feature_names)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2
5                5.4               3.9                1.7               0.4
6                4.6               3.4                1.4               0.3
7                5.0               3.4                1.5               0.2
8                4.4               2.9                1.4               0.2
9                4.9               3.1                1.5               0.1

In [5]:
X_train, X_test, y_train, y_test = train_test_split(df.data, df.target, test_size=0.5, random_state=7)

In [6]:
sv = SVC(C=1, kernel='linear', gamma='auto')

In [7]:
fit = sv.fit(X_train, y_train)

In [8]:
expected = y_test

In [9]:
predicted = fit.predict(X_test)

In [10]:
conf = metrics.confusion_matrix(expected, predicted)

In [11]:
DataFrame(conf, index=df.target_names, columns=df.target_names)

            setosa  versicolor  virginica
setosa          25           0          0
versicolor       0          23          2
virginica        0           2         23

In [12]:
metrics.accuracy_score(expected, predicted)

0.9466666666666667